<div class="main-wrapper">
  <div class="wrapper">
    <video autoplay playsinline muted loop preload>
      <source src="./assets/videos/galaxy.mp4" />
    </video>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 250" preserveAspectRatio="xMidYMid slice">
      <defs>
        <mask id="mask" x="0" y="0" width="100%" height="100%" >
          <rect x="0" y="0" width="100%" height="100%" />
          <text x="72" y="124">Hanno</text>
          <text x="72" y="153">Rippe</text>
        </mask>
      </defs>
      <rect x="0" y="0" width="100%" height="100%" />
    </svg>
  </div>
  <div>
    <h2>Frontend Developer from Hamburg</h2>
    <p class="text">
      Hi, I'm a professional frontend developer from Germany with +8 years of experience.<br />
      Right now my focus is on <a href="https://angular.io/">Angular</a>.<br />
    <p>
    <p class="text">
      I like clean Code.<br />
      I believe that most of the time less is more.
    <p>
    <p class="txt anim-text-flow">
      <a href="https://www.xing.com/profile/Hanno_Rippe"><span class="underline">CONTACT</span></a>
    </p>
  </div>
